# Source files
nodes/
credentials/

# Configuration
.eslintrc.js
.prettierrc
tsconfig.json
gulpfile.js
jest.config.js

# Development
.github/
.vscode/
.idea/
test/
scripts/

# Misc
.gitignore
.DS_Store
*.log
coverage/
.nyc_output/

# Only include dist folder
!dist/
